@font-face {
  font-family: "Mooli";
  src: url("./assets/fonts/Mooli-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@import "tailwindcss";

:root {
  --primary: #c9d5da;
  --secondary: #00203b;
  --main: #eefffe;
  --accent: #00ddfa;
  --accent-secondary: #1500ff;
  --text-main: #e6eaed;
  --text-muted: #00053e;
  --text-light: #7a9596;
  --card-start: #09005c;
  --card-mid: #0034de;
  --card-end: #011058;
  --card-contrast-high: #5cc0f9;
  --card-contrast-low: #a7f1fe;
  --border: #000b27;
  --border-muted: #5e6071;
  --shadow: #000000b9;
  --toggle: #66696a;
  --toggle-thumb: #ffffff;
}

.dark {
  --primary: #1b212d;
  --secondary: #00102f;
  --main: #111a2b;
  --accent: #00fbff;
  --accent-secondary: #09eaff;
  --text-main: #9fd5ff;
  --text-muted: #e7e7e7;
  --text-light: #94a3b8;
  --card-start: #12161f;
  --card-mid: #001e45;
  --card-end: #00091f;
  --card-contrast-high: #164e63;
  --card-contrast-low: #0e7490;
  --border: #334155;
  --border-muted: #475569;
  --shadow: #00000099;
  --toggle: #ffffff;
  --toggle-thumb: #000000;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-mooli: "Mooli", sans-serif;
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-main: var(--main);
  --color-accent: var(--accent);
  --color-accent-secondary: var(--accent-secondary);
  --color-text-main: var(--text-main);
  --color-text-accent: var(--accent);
  --color-text-light: var(--text-light);
  --background-image-inner-card: linear-gradient(
    230deg,
    var(--card-start),
    var(--card-mid),
    var(--card-end)
  );
  --background-image-card-theme: linear-gradient(
    150deg,
    var(--card-contrast-high),
    var(--card-contrast-low)
  );
  --color-text-muted: var(--text-muted);
  --color-border: var(--border);
  --color-border-muted: var(--border-muted);
  --shadow-subtle: 0 5px 5px 1px var(--shadow);
  --shadow-drop: 0 3px 3px 1px var(--shadow);
  --color-toggle: var(--toggle);
  --color-toggle-thumb: var(--toggle-thumb);
}
