@font-face {
  font-family: "Mooli";
  src: url("./assets/fonts/Mooli-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@import "tailwindcss";

:root {
  --primary: #f7fdff;
  --secondary: #002d53;
  --main: #cff1ff;
  --text-main: #e0f1ff;
  --text-muted: #000752;
  --accent: #00e1ff;
  --card-start: #002338;
  --card-mid: #001f7a;
  --card-end: #006b8f;
  --card-contrast-high: #5cc0f9;
  --card-contrast-low: #a7f1fe;
  --border: #000b27;
  --border-muted: #5e6071;
  --shadow: #000000b9;
}

@theme {
  --font-mooli: "Mooli", sans-serif;
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-main: var(--main);
  --color-text-main: var(--text-main);
  --color-text-accent: var(--accent);
  --background-image-inner-card: linear-gradient(
    155deg,
    var(--card-start),
    var(--card-mid),
    var(--card-end)
  );
  --background-image-card-theme: linear-gradient(
    150deg,
    var(--card-contrast-high),
    var(--card-contrast-low)
  );
  --color-text-muted: var(--text-muted);
  --color-border: var(--border);
  --color-border-muted: var(--border-muted);
  --shadow-subtle: 0 5px 5px 1px var(--shadow);
  --shadow-drop: 0 3px 3px 1px var(--shadow);
}
